
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* navbar */
.navbar {
    width: 100%;
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid red;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c79a00; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #444;
    padding: 6px 10px;
    transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: red;
    border-bottom: 2px solid red;
}

.login-btn {
    background: red;
    color: white !important;
    padding: 8px 14px;
    border-radius: 4px;
}

.login-btn:hover {
    background: #900;
}

/* hero section */
.hero {
    background: url('../images/clean-bg.jpg') no-repeat center center/cover;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    margin-top: 0%;
}

.hero-text h1 {
    font-size: 50px;
    color: #c79a00; 
    text-shadow: 1px 1px 2px #00000040;
}

.hero-text p {
    font-size: 22px;
    margin: 15px 0;
    color: #222;
}

.btn {
    display: inline-block;
    padding: 15px 28px;
    background: red;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #900;
}

/* section*/
.section {
    padding: 60px 40px;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #c79a00; 
    font-weight: bold;
}

/* service grid*/
.service-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card {
    width: 300px;
    background: #fff5e6; 
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px #00000020;
    transition: 0.3s;
}

.service-card h3 {
    color: red;
    margin-bottom: 10px;
}

.service-card p {
    color: #333;
}

.service-card:hover {
    transform: translateY(-8px);
}

/* footer */
footer {
    text-align: center;
    padding: 25px;
    background: #111;
    color: #fff;
    margin-top: 40px;
    font-size: 16px;
}

/* responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .hero-text h1 {
        font-size: 34px;
    }

    .service-grid {
        flex-direction: column;
    }
}
